.header {
  padding: 0 24px;
  color: #fff;

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.main {
  min-height: calc(100vh - 64px - 65px);
}

.footer {
  text-align: center;
  background-color: #f7f7f7;
  border-top: 1px solid #e5e5e5;
}

.logo {
  width: 200px;
  text-align: center;
  h1 {
    margin-bottom: 0;
    font-size: 28px;
    color: #f7f7f7;
    line-height: 64px;
  }
}